*{
    margin: 0; padding: 0; box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #332D56;
    font-family: Syne, sans-serif;
    font-size: 1rem;
    padding: 2rem;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:#7F55B1;
}

.btn{
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    color: white;
}

.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 2rem;
}

.header > img {
    border-radius: 50%;
    margin-top: 5rem;
}
.nav{
    display: flex;
    font-size: 2.4rem;
    color: white;
    gap: 2rem;
    align-self: flex-end;
}

.menu-icon{
    display: none;
    font-size: 3rem;
    cursor: pointer;
}

.intro{
    color: white;
    font-size: 2.4rem;
    margin-top: 7rem;
}
.intro > p{
    margin-top: 2rem;
}

.project{
    color: white;
    margin-top: 5rem;
    font-size: 2rem;
    height: 100vh;
}

.cards{
    display: grid;
    grid-template-columns: 45rem 45rem;
    grid-template-rows: 45rem;
    justify-content: center;
    gap: 1.5rem;
    margin: 5rem 0;
}

.project-card{
    background-color: white;
    max-width: 40rem;
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    
}

.project-card img{
    height: 20rem;
    width: 100%;
    align-self: center;
}

.project-card p{
    font-size: 1.6rem;
}

.project-card ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.project-card ul li{
    background-color: #7F55B1;
    padding: 0.1rem 1rem;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 2rem;
}

.project-card a{
    text-decoration: none;
    color: white;
    background-color: #7F55B1;
    align-self: flex-start;
    padding: .5rem 1.5rem;
    border-radius: 5rem; 
}
.project-card a:hover{
    background-color: #3D365C;
}

.skills{
    height: 100vh;
    font-size: 2rem;
    color: white;
}

.skill{
    display: grid;
    grid-template-columns: 35rem 35rem 35rem;
    grid-template-rows: 40rem;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.skill-card{
    height: 100%;
    background-color: #A8F1FF;
    color: black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2rem;
}

.footer{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2.4rem;
    background-color: aliceblue;
    align-items: center;
    padding: 2rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}


.contact > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}

.contact > form > button{
    align-self: flex-start;
}

.contact > form > input{
    height: 4rem;
}

@media (max-width: 768px) {
    .menu-icon{
        display: block;
        color: white;
    }

    .nav{
        display: none;
    }

    .nav.open{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-top: 1rem;
    }

    .project {
        font-size: 1.8rem;
        height: auto;
    }

    .project h1{
        margin-top: 10rem;
    }

    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: 45rem 45rem;
        padding: 1rem;
    }

    .project-card {
        max-width: 100%;
    }

    .skills {
        height: auto;
        font-size: 1.8rem;
    }

    .skill {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2rem;
    }

    .skill-card {
        width: 100%;
    }

    .footer {
        height: auto;
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }

    .info {
        font-size: 1.6rem;
    }
}